<div class="wrap">
  <div class="left">
    <h1>external</h1>
    <div *ngFor="let btnExt of ext">
      <button [ngStyle]="{'background-color': btnExt.isOutside?'lightgreen':'lightyellow'}"
      (click)="btnExt.addCommand()">{{btnExt.floor}}</button>
    </div>
  </div>
  <div class="right">
    <h1>internal</h1>
    <div *ngFor="let btnInt of int">
    <button  (click)="btnInt.addCommand()" [ngStyle]="{'background-color': btnInt.isOutside?'lightgreen':'lightyellow'}">{{btnInt.floor}}</button>
  </div>
  </div>
</div>
