
<div class="dashboard">
  <div>
    <app-current-state [state]="elevator.currentState"></app-current-state>
    <button class="button button--ujarak" (click)="onDispatch()">Next action</button>
  </div>
  <app-el-commands-list [commands]="getcurrentCommands()" title="Current:"></app-el-commands-list>
  <app-el-commands-list [commands]="getQueue()" title="Queue:"></app-el-commands-list>

  <div>
    <app-buttons [ext]="elevator.externalButtons" [int]="elevator.internalButtons"></app-buttons>
  </div>
</div>


